body {
    font-family: Arial, sans-serif;
    background-color: #f0efe6;
    color: #4d4c4b;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;

}

.absolute {
  position: absolute;
  top: 50px !important;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.bg-shape1 {
  width: 500px;
  height: 500px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}

@keyframes one {
  0%{left: 0px; top: 0px;}
  25%{left: -100px; top: 70px;}
  50%{left: 20px; top: 150px;}
  75%{left: 50px; top: 50px;}
  100%{left: 0px; top: 0px;}
}

.bg-shape2 {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  animation: two 10s infinite;
}

@keyframes two {
  0%{left: 0px; top: 0px;}
  25%{left: 50px; top: 10px;}
  50%{left: -100px; top: -50px;}
  75%{left: 50px; top: 50px;}
  100%{left: 0px; top: 0px;}
}

.bg-shape3 {
  width: 500px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  animation: three 10s infinite;
}

@keyframes three {
  0%{left: 0px; top: 0px;}
  25%{left: 150px; top: 50px;}
  50%{left: 300px; top: 100px;}
  75%{left: 100px; top: 50px;}
  100%{left: 0px; top: 0px;}
}

.opacity-50 {
  opacity: .5;
}

.bg-blur {
  filter: blur(90px);
}

.bg-primary {
  background-color: #2a2927;
}

.bg-teal {
  background-color: #2a2927;
}

.bg-purple {
  background-color: #2a2927;
}

h1 {
    color: #1c1c1c;
    margin-top: 200px;
    font-size: 3em;
}

p {
    margin-top: 50px;
    font-size: 1.7em;
}

a {
    font-family: Arial, sans-serif;
    color: #1c1c1c;
    margin-top: 50px;
    font-size: 1.7em;
}

/* for top nav */
.topnav {
  background-color: #1c1c1c;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: #2e2e2d;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.topnav a.active {
  background-color: #adadad;
}
