body {
    font-family: Arial, sans-serif;
    background-color: #f0efe6;
    color: #4d4c4b;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1c1c1c;
    margin-top: 200px;
    font-size: 3em;
}

p {
    margin-top: 50px;
    font-size: 1.7em;
}

/* for top nav */
.topnav {
  background-color: #1c1c1c;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: #2e2e2d;
}

.topnav a.active {
  background-color: #adadad;
}
